<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationid</key>
	<string>1:674156494641:ios:b75e68277229908b</string>
	<key>bringcloserfacetext</key>
	<string>Get closer to the camera</string>
	<key>capturebackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>125</string>
		<key>green</key>
		<string>125</string>
		<key>red</key>
		<string>125</string>
	</dict>
	<key>centerfacetext</key>
	<string>Center your face in the oval</string>
	<key>challengebottomtext</key>
	<string>Turn your face down</string>
	<key>challengecentertext</key>
	<string>¡Great! Look back to the center</string>
	<key>challengeerrortext</key>
	<string>The process could not be completed. Try again. </string>
	<key>challengelefttext</key>
	<string>Turn your face to your left</string>
	<key>challengerighttext</key>
	<string>Turn your face to your right</string>
	<key>challengetoptext</key>
	<string>Turn your face up</string>
	<key>checkselfietext</key>
	<string>If the photo is clear, press CONTINUE</string>
	<key>checkselfietextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>closebutton</key>
	<string>NO</string>
	<key>closebuttonimage</key>
	<string>ic_closebutton.png</string>
	<key>continuebuttonbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>102</string>
		<key>green</key>
		<string>100</string>
		<key>red</key>
		<string>17</string>
	</dict>
	<key>continuebuttonicon</key>
	<string></string>
	<key>continuebuttontext</key>
	<string>CONTINUE</string>
	<key>continuebuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>countdownposition</key>
	<string>center</string>
	<key>countdowntextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>deviceincorrectposition</key>
	<string> Hold the phone vertically in 
 front of you </string>
	<key>facedetectednotcenteredcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>facedetectedokcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>faceshapeoval</key>
	<string>YES</string>
	<key>facetightness</key>
	<string>tight</string>
	<key>familyName</key>
	<string>Helvetica</string>
	<key>finaltutorialalertshow</key>
	<string>YES</string>
	<key>fixedoval</key>
	<string>YES</string>
	<key>imagequality</key>
	<string>max</string>
	<key>infoalert</key>
	<string>Automatic selfie: center your face in the oval frame.</string>
	<key>infoalertshow</key>
	<string>NO</string>
	<key>infoalerttitle</key>
	<string></string>
	<key>informativebackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>0</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>informativetextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>jws_token</key>
	<string></string>
	<key>livephoto</key>
	<string>YES</string>
	<key>livephotoimage</key>
	<string>YES</string>
	<key>megapixels</key>
	<string>2</string>
	<key>mobileoval</key>
	<string>NO</string>
	<key>mobileovalcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>orientationbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>127</string>
		<key>green</key>
		<string>127</string>
		<key>red</key>
		<string>127</string>
	</dict>
	<key>orientationopacity</key>
	<string>YES</string>
	<key>permissionrefused</key>
	<string>The permission was rejected.
        You need to activate it manually:
        Settings &gt; Application &gt; Activate Permission</string>
	<key>permissionrefusedbutton</key>
	<string>Open settings</string>
	<key>permissionrefusedtitle</key>
	<string>Required permission</string>
	<key>popupvalidationbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>0.7</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>popupvalidationtextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>positivebuttontext</key>
	<string>Continue</string>
	<key>projectid</key>
	<string>testmetrics-832e5</string>
	<key>repeatbuttonbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>102</string>
		<key>green</key>
		<string>100</string>
		<key>red</key>
		<string>17</string>
	</dict>
	<key>repeatbuttonicon</key>
	<string></string>
	<key>repeatbuttontext</key>
	<string>REPEAT</string>
	<key>repeatbuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>searchingfacestepinstruction</key>
	<string>Now, place your face inside the frame and hold steady while we take a photo</string>
	<key>selfiealivearrowcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfiengaserroralertbuttontext</key>
	<string>I GOT IT, CONTINUE</string>
	<key>selfiengaserroralertdescription</key>
	<string>Let&apos;s start the process again. After taking the photo, follow these instructions to validate.
        Make sure to be in a well lit environment without elements that cover your face.</string>
	<key>selfiengaserroralertstep1</key>
	<string>1- Turn your head in the direction indicated</string>
	<key>selfiengaserroralertstep2</key>
	<string>2- You will hear a sound when you do it correctly</string>
	<key>selfiengaserroralertstep3</key>
	<string>3- Look back at the center to continue</string>
	<key>selfiengaserroralerttitle</key>
	<string>Have any doubts?</string>
	<key>selfiengaserroralerttitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfiengastutorialdescription3</key>
	<string>1. Fit your face into the frame and wait for the countdown. 
2. Turn your face &lt;b&gt;slightly&lt;/b&gt; in one direction.
3. When the screen tells you that you have done it correctly, look back at the center.
4. The process will be repeated 3 times</string>
	<key>selfiengastutorialstep3title</key>
	<string>Follow the instructions</string>
	<key>selfiesmiletutorialdescription3</key>
	<string>We will ask you to smile as proof of life.
We’ll take the photo automatically</string>
	<key>selfiesmiletutorialstep3title</key>
	<string>Hold steady and smile when prompted</string>
	<key>selfietutorialbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>236</string>
		<key>green</key>
		<string>236</string>
		<key>red</key>
		<string>236</string>
	</dict>
	<key>selfietutorialcontinuebuttonfirstgradientcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>180</string>
		<key>green</key>
		<string>93</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>selfietutorialcontinuebuttonsecondgradientcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>221</string>
		<key>green</key>
		<string>158</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>selfietutorialcontinuebuttontext</key>
	<string>START THE PROCESS</string>
	<key>selfietutorialcontinuebuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>selfietutorialcurrentpointcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialdescription1</key>
	<string>Make sure you have good lighting (natural lighting would be ideal)</string>
	<key>selfietutorialdescription2</key>
	<string>Try to hold the phone as vertical as possible and look at it from the front.
        Avoid any element that covers your face (hair, mask, etc.)</string>
	<key>selfietutorialdescriptioncolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>134</string>
		<key>green</key>
		<string>134</string>
		<key>red</key>
		<string>134</string>
	</dict>
	<key>selfietutorialgeneraltitle</key>
	<string>Before starting the process,
        read these quick instructions</string>
	<key>selfietutorialgeneraltitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialstep1title</key>
	<string>Find the right place</string>
	<key>selfietutorialstep2title</key>
	<string>Hold the phone vertically</string>
	<key>selfietutorialstepbuttonnexttext</key>
	<string>Next</string>
	<key>selfietutorialstepbuttonnexttextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialstepbuttonprevioustext</key>
	<string>Previous</string>
	<key>selfietutorialstepbuttonprevioustextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialsteptitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>showselfie</key>
	<string>YES</string>
	<key>showtutorial</key>
	<string>YES</string>
	<key>smartselfie</key>
	<string>YES</string>
	<key>smilerequestserious</key>
	<string>And now... Serious</string>
	<key>smilerequestseriousimage</key>
	<string></string>
	<key>smilerequestsmile</key>
	<string>And now... Smile</string>
	<key>smilerequestsmileimage</key>
	<string></string>
	<key>smiletimeout</key>
	<string>YES</string>
	<key>smiletimeoutmessage</key>
	<string>The process could not be completed. Try again later.</string>
	<key>smiletimeoutseconds</key>
	<string>10</string>
	<key>stepindication</key>
	<string>Step %d of %d</string>
	<key>storagebucket</key>
	<string>testmetrics-832e5.appspot.com</string>
	<key>tickcirclecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>100</string>
		<key>green</key>
		<string>174</string>
		<key>red</key>
		<string>72</string>
	</dict>
	<key>tickcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>tickshow</key>
	<string>YES</string>
	<key>tutorialtitle</key>
	<string>Photo Selfie</string>
	<key>tutorialtitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>userid</key>
	<string>12345678901234567890123456789</string>
	<key>userinfo</key>
	<string>Check that your face is shown complete, with a natural expression and without any shine or shadow.</string>
	<key>validationviewbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>66</string>
		<key>green</key>
		<string>66</string>
		<key>red</key>
		<string>66</string>
	</dict>
	<key>veridaslogoshow</key>
	<string>YES</string>
</dict>
</plist>
