<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationid</key>
	<string>1:674156494641:ios:b75e68277229908b</string>
	<key>bringcloserfacetext</key>
	<string>Acérquese a la cámara</string>
	<key>capturebackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>125</string>
		<key>green</key>
		<string>125</string>
		<key>red</key>
		<string>125</string>
	</dict>
	<key>centerfacetext</key>
	<string>Centre su cara en el óvalo</string>
	<key>challengebottomtext</key>
	<string>Gira la cara hacia abajo</string>
	<key>challengecentertext</key>
	<string>¡Bien! Vuelve al centro</string>
	<key>challengeerrortext</key>
	<string>No se ha podido completar el proceso. Inténtelo de nuevo.</string>
	<key>challengelefttext</key>
	<string>Gira la cara hacia tu izquierda</string>
	<key>challengerighttext</key>
	<string>Gira la cara hacia tu derecha</string>
	<key>challengetoptext</key>
	<string>Gira la cara hacia arriba</string>
	<key>checkselfietext</key>
	<string>Si la foto se ve bien, pulsa CONTINUAR</string>
	<key>checkselfietextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>closebutton</key>
	<string>NO</string>
	<key>closebuttonimage</key>
	<string>ic_closebutton.png</string>
	<key>continuebuttonbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>102</string>
		<key>green</key>
		<string>100</string>
		<key>red</key>
		<string>17</string>
	</dict>
	<key>continuebuttonicon</key>
	<string></string>
	<key>continuebuttontext</key>
	<string>CONTINUAR</string>
	<key>continuebuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>countdownposition</key>
	<string>center</string>
	<key>countdowntextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>deviceincorrectposition</key>
	<string>Pon el teléfono en vertical
        frente a ti</string>
	<key>facedetectednotcenteredcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>facedetectedokcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>faceshapeoval</key>
	<string>YES</string>
	<key>facetightness</key>
	<string>tight</string>
	<key>familyName</key>
	<string>Helvetica</string>
	<key>finaltutorialalertshow</key>
	<string>YES</string>
	<key>fixedoval</key>
	<string>YES</string>
	<key>imagequality</key>
	<string>max</string>
	<key>infoalert</key>
	<string>Selfie automático: centre su cara en el óvalo.</string>
	<key>infoalertshow</key>
	<string>NO</string>
	<key>infoalerttitle</key>
	<string></string>
	<key>informativebackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>0</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>informativetextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>jws_token</key>
	<string></string>
	<key>livephoto</key>
	<string>YES</string>
	<key>livephotoimage</key>
	<string>YES</string>
	<key>megapixels</key>
	<string>2</string>
	<key>mobileoval</key>
	<string>NO</string>
	<key>mobileovalcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>orientationbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>127</string>
		<key>green</key>
		<string>127</string>
		<key>red</key>
		<string>127</string>
	</dict>
	<key>orientationopacity</key>
	<string>YES</string>
	<key>permissionrefused</key>
	<string>Ha rechazado el permiso.
        Tiene que activarlo manualmente en:
        Ajustes &gt; Aplicación &gt; Activar Permiso</string>
	<key>permissionrefusedbutton</key>
	<string>Abrir ajustes</string>
	<key>permissionrefusedtitle</key>
	<string>Permiso requerido</string>
	<key>popupvalidationbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>0.7</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>popupvalidationtextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>positivebuttontext</key>
	<string>Continuar</string>
	<key>projectid</key>
	<string>testmetrics-832e5</string>
	<key>repeatbuttonbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>102</string>
		<key>green</key>
		<string>100</string>
		<key>red</key>
		<string>17</string>
	</dict>
	<key>repeatbuttonicon</key>
	<string></string>
	<key>repeatbuttontext</key>
	<string>REPETIR</string>
	<key>repeatbuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>searchingfacestepinstruction</key>
	<string>Ahora, encaja tu cara en el marco y mantente estable mientras tomamos una foto</string>
	<key>selfiealivearrowcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfiengaserroralertbuttontext</key>
	<string>ENTENDIDO, CONTINUAR</string>
	<key>selfiengaserroralertdescription</key>
	<string>Vamos a empezar de nuevo el proceso. Después de sacar la foto, sigue estas instrucciones para hacer la validación.
        
        Asegúrate de estar en un entorno con luz y sin elementos que tapen tu cara.</string>
	<key>selfiengaserroralertstep1</key>
	<string>1- Gira la cabeza en la dirección indicada</string>
	<key>selfiengaserroralertstep2</key>
	<string>2- Escucharás un sonido al hacer el giro correctamente</string>
	<key>selfiengaserroralertstep3</key>
	<string>3- Vuelve a mirar al centro para continuar</string>
	<key>selfiengaserroralerttitle</key>
	<string>¿No sabes qué hacer?</string>
	<key>selfiengaserroralerttitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfiengastutorialdescription3</key>
	<string>1. Encaja la cara en el marco y espera a la cuenta atrás.
2. Gira la cara ligeramente en la dirección que te indiquen las flechas.
3. Cuando la pantalla te indique que lo has hecho correctamente, vuelve a mirar al centro.
4. Repite el proceso 3 veces.</string>
	<key>selfiengastutorialstep3title</key>
	<string>Sigue las instrucciones</string>
	<key>selfiesmiletutorialdescription3</key>
	<string>Te pediremos que sonrías como prueba de vida.
La captura se realizará de forma automática</string>
	<key>selfiesmiletutorialstep3title</key>
	<string>Mantén la mirada y sonríe cuando se indique</string>
	<key>selfietutorialbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>236</string>
		<key>green</key>
		<string>236</string>
		<key>red</key>
		<string>236</string>
	</dict>
	<key>selfietutorialcontinuebuttonfirstgradientcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>180</string>
		<key>green</key>
		<string>93</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>selfietutorialcontinuebuttonsecondgradientcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>221</string>
		<key>green</key>
		<string>158</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>selfietutorialcontinuebuttontext</key>
	<string>COMENZAR EL PROCESO</string>
	<key>selfietutorialcontinuebuttontextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>selfietutorialcurrentpointcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialdescription1</key>
	<string>Asegúrate tener una buena iluminación (si es natural, mejor aún).</string>
	<key>selfietutorialdescription2</key>
	<string>Procura que el teléfono esté lo más en vertical posible y míralo de frente.
        Evita elementos que te cubran la cara (el pelo, la mascarilla, etc.)</string>
	<key>selfietutorialdescriptioncolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>134</string>
		<key>green</key>
		<string>134</string>
		<key>red</key>
		<string>134</string>
	</dict>
	<key>selfietutorialgeneraltitle</key>
	<string>Antes de comenzar el proceso,
        lee estas sencillas instrucciones</string>
	<key>selfietutorialgeneraltitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialstep1title</key>
	<string>Busca el lugar adecuado</string>
	<key>selfietutorialstep2title</key>
	<string>Sujeta el telefono en vertical</string>
	<key>selfietutorialstepbuttonnexttext</key>
	<string>Siguiente</string>
	<key>selfietutorialstepbuttonnexttextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialstepbuttonprevioustext</key>
	<string>Anterior</string>
	<key>selfietutorialstepbuttonprevioustextcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>selfietutorialsteptitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>176</string>
		<key>green</key>
		<string>94</string>
		<key>red</key>
		<string>26</string>
	</dict>
	<key>showselfie</key>
	<string>YES</string>
	<key>showtutorial</key>
	<string>YES</string>
	<key>smartselfie</key>
	<string>YES</string>
	<key>smilerequestserious</key>
	<string>Y ahora... Serio</string>
	<key>smilerequestseriousimage</key>
	<string></string>
	<key>smilerequestsmile</key>
	<string>Y ahora... Sonría</string>
	<key>smilerequestsmileimage</key>
	<string></string>
	<key>smiletimeout</key>
	<string>YES</string>
	<key>smiletimeoutmessage</key>
	<string>No se pudo completar el proceso. Por favor, repita el proceso.</string>
	<key>smiletimeoutseconds</key>
	<string>10</string>
	<key>stepindication</key>
	<string>Paso %d de %d</string>
	<key>storagebucket</key>
	<string>testmetrics-832e5.appspot.com</string>
	<key>tickcirclecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>100</string>
		<key>green</key>
		<string>174</string>
		<key>red</key>
		<string>72</string>
	</dict>
	<key>tickcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>tickshow</key>
	<string>YES</string>
	<key>tutorialtitle</key>
	<string>Foto Selfie</string>
	<key>tutorialtitlecolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>255</string>
		<key>green</key>
		<string>255</string>
		<key>red</key>
		<string>255</string>
	</dict>
	<key>userid</key>
	<string>12345678901234567890123456789</string>
	<key>userinfo</key>
	<string>Compruebe que su cara se muestra completa, con una expresión natural y sin ningún tipo de brillo o sombra.</string>
	<key>validationviewbackgroundcolor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>66</string>
		<key>green</key>
		<string>66</string>
		<key>red</key>
		<string>66</string>
	</dict>
	<key>veridaslogoshow</key>
	<string>YES</string>
</dict>
</plist>
