<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539654860154-spl0edatqhi9aph30k8s00rm0d2b996l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539654860154-spl0edatqhi9aph30k8s00rm0d2b996l</string>
	<key>API_KEY</key>
	<string>AIzaSyBQg096DOE0_ytHnrOqaJx_YRtGS858V44</string>
	<key>GCM_SENDER_ID</key>
	<string>539654860154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digipro.movil</string>
	<key>PROJECT_ID</key>
	<string>digipro-fct-elect</string>
	<key>STORAGE_BUCKET</key>
	<string>digipro-fct-elect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:539654860154:ios:8c4d59be8ca5304a</string>
	<key>DATABASE_URL</key>
	<string>https://digipro-fct-elect.firebaseio.com</string>
	<key>FIRAnalyticsDebugEnabled</key>
	<true/>
</dict>
</plist>
